 #tt2{ 
    color: deeppink;
    font-family: 'Times New Roman', Times, serif;
 }
    body{
       background-color: rgb(193, 226, 215);

    }
    p{
        border: 4px solid rgb(242, 255, 58);
        background-color: black;
        color: #ffa4a4;
        margin: 10px;padding: 20px;
    }
    span{
        color: #000;
        display: block;
        background-color: blanchedalmond;width:30% ;
        
    }
 